$xs: "screen and (min-width:" + (320px) + ")";
$sm: "screen and (min-width:" + (480px) + ")";
$md: "screen and (min-width:" + (768px) + ")";
$lg: "screen and (min-width:" + (950px) + ")";
$xl: "screen and (min-width:" + (1199px) + ")";
$xxl: "screen and (min-width:" + (1320px) + ")";
$xxxl: "screen and (min-width:" + (1440px) + ")";

$primary-font: "Ninetea";
$secondary-font: "NYXERIN";

$black: #000;
$white: #fff;

/* Color Palette */

$primary-color: #4a90e2;
$secondary-color: #C0C0C0;
$warning-color: #f8e71c;
$success-color: #7ed321;
$danger-color: #d0021b;
$info-color: #9013fe;

$accent-color: #f5a623;

/* Line height */

$line-height-heading: 1.2;
$line-height-heading-lg: 1.5;
$line-height-body: 1.6;
$line-height-paragraph: 1.75;
